html { box-sizing: border-box; }
*, * ::before, * ::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  color: #FFFFFF;

  background-color: #849d8f;
  /* Временно для сетки */
  /* background-image: url("../img/gllacy-index-full.jpg"); */
  background-size: 1200px auto;
  background-repeat: no-repeat;
  min-width: 1200px;
  min-height: 2416px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* outline: 5px dashed rgba(0, 170, 20, 0.5); */
}

a {
    text-decoration: none;
    color: inherit; /* В исключениях к тз написано, что можно задать text-decoration для ссылок, но можно ли еще и цвет прописать вот так? уж очень много мест, где это приходится прописывать для каждой ссылки */
  }

.visually-hidden {
  display: none;
}

.main-header {
  padding: 0;
  min-height: 80px;
  width: 1200px;
}

.main-nav-wrapper {
  margin: 0;
  background-color: #849d8f;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* outline: 2px dashed lime; */
}


.main-navigation {
  display: flex;
  justify-content: space-between;
}


.main-header-logo {
  background-color: #849d8f;
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-left: 27px;

}

.site-nav-container  {
  width: 740px;
  margin: 0;
  padding: 0;
  /* outline: 1px solid white; */
  display: flex;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;

  background-color: #849d8f;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  list-style: none;
  min-height: 50px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid fuchsia; */
}


.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #FFFFFF;

  background-color: #849d8f;

  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 23px;

  display: flex;
  justify-content: space-between;

  min-height: 35px;
  min-width: 245px;
  /* outline: 1px solid red; */

}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
  color: #ffbc9e;
  /* background-color: #849d8f; */
}

.catalog-item {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  /* background-color: #849d8f; */
}

.breadcrumbs a,
.catalog-item a{
  color: #ffffff;
}

.catalog-item:hover,
.catalog-item:focus {
  color: #ffffff;
  background-color: #9bafa3;
  border-radius: 5px;
}

.catalog a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
}


.catalog a:hover,
.catalog a:focus {
  background-color: #fbded8;
  color:#323232;
}

.catalog a:active {
  background-color: #f6b5a5;
  color:#323232;
}

.catalog-new {
  background-color: #f8f7f4;
  /* border-bottom: 1px solid #d1d0ce; */
}

.catalog-new a {
  background-color: #f8f7f4;

  color: #323232;
  font-size: 14px;
  font-weight: 700;
}

.catalog-current a {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-current a:hover {
  color: #ffffff;
  background-color: #d07058;
}

.search-link {
  background-color: #a0b5a9;
  border-radius: 15px;
  align-self: baseline;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  width: 33px;
  height: 33px;
}

.search-link a,
.login-link a {
  color: inherit;
}

.login-link,
.empty-cart {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: #9db1a5;
  border-radius: 15px;
  align-self: baseline;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 33px;
}

.search-link:hover,
.search-link:active,
.search-link:focus,
.login-link:hover,
.login-link:active,
.login-link:focus {
  background-color: #f8f7f4;
  color:#323232;
}

.search-form,
.login-form {
  background-color: #f8f7f4;
  color: #323232;
}

.search-form input,
.login-form input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.search-form input::placeholder,
 .login-form input::placeholder{
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
}

.login-form a{
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.empty-cart a {
  color: inherit;
}

.empty-cart:hover,
.empty-cart:active,
.empty-cart:focus {
  background-color: #9db1a5;
  color: #ffffff;
  border-radius: 15px;
}

.shopping-cart {
  background-color: #f7f6f3;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 15px;

}

.shopping-cart:hover,
.shopping-cart:focus,
.shopping-cart:active {
  background-color: #f7f6f3;
  color: #323232;
}

.cart-block {
  background-color: #f8f7f4;
  color: #323232;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart-block img {
  border-radius: 50%;
}

.cart-item a {
  color: #323232;
}

.cart-item-delete {
  background: none;
  border: none;
}
.cart-item-amount {

}

.cart-count-price {
  color: #999999;
}

.cart-item-total {
}

.cart-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  padding-top: 20px;
  border-top: 1px solid #808080;
}

.contacts {
  min-height: 50px;
  margin-right: 27px;
  text-align: right;
  /* outline: 1px solid yellow; */
}

.worktime {
  /* background-color: #849d8f; */
  color: #ffffff;;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  /* outline: 1px solid green; */
  margin-bottom: 5px;
}

.telephone {
  /* background-color: #849d8f; */
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  /* outline: 1px solid blue; */
}

.telephone a {
  color: inherit;
}

.telephone a:hover,
.telephone a:active{
  color: #ffbc9e;
}

.catalog li,
.footer-social li,
.footer-legal li,
.breadcrumbs li{
  list-style: none;
}

.menu-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700px;
  color: #ffffff;
  padding-left: 13px;
  padding-right: 13px;
  min-height: 32px;
  display: flex;
  align-items: center;
}

.menu-button a {
  color: inherit;
}

.menu-button:hover {
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 20px;
  font-weight: 700;
}

.menu-button:active {
  box-shadow: inset 0 1px 3px 0 #6a6b6a;
}

.menu-button-current {
  background-color: #d07058;
  border-radius: 20px;

  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.menu-button-current:hover {
  background-color: #d07058;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  font-size: 16px;
}

.filter-header{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/*.filter-options {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
} не работает*/

#price-min,
#price-max {
  font-size: 14px;
  color: white;
  border: none;
}

.filling-checkbox {
/*  color: #eef2f0;  этим цветом чекбоксы надо задать*/
}

.price-slider-line-back {
  width: 177px;
  height: 4px;
  background-color: #d1dad3;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #a6b7ae;
  border-radius: 15px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #fbfcfb;
  color: #353535;
  border: none;
  box-sizing: border-box;
}

.filter-button:active {
  background-color: #eaeaea;
  box-shadow: inset 0 1px 3px 0 #6a6b6a;
}

  .coming-soon {
    width: 1200px;
    height: 1150px;
    background-color: rgba(255, 0, 0, 0.5);
  }

.features {
  list-style: none;
  background-image: url("../img/wafer-background.jpg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: repeat;
  background-color: #ecdfc3;
  color: #323232;
  border-radius: 15px;
  min-height: 306px;
  min-width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  /* outline: 2px dashed teal; */
}


.features-header {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  /* outline: 1px solid navy; */
  min-height: 60px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /* На встает в две колонки без ограничения высоты. И новые элементы хреново добавляет. Идей нет( */
  height: 200px;
}


.feature-item {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 70px;
  width: 50%;
  min-height: 80px;
  /* outline: 1px solid rgba(255, 150, 150, 0.8); */
  /* background-color: rgba(255, 150, 150, 0.3); */
}

.feature-item:first-child,
.feature-item:nth-child(2) {
  padding-left: 55px;
}

.feature-item:nth-child(2n) {
  padding-top: 10px;
}

.feature-item:first-child,
.feature-item:nth-child(3) {
  padding-top: 20px;
  margin-bottom: 10px;
}

.announces {
  display: flex;
  min-height: 220px;
  /* outline: 1px solid yellow; */
  margin-bottom: 40px;
}


.blog-container {
  color: #323232;

  background-color: white;
  border-radius: 15px;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  margin-left: 27px;
  padding-left: 20px;
  /* padding-right: 50px; */
  padding-top: 25px;
  width: 560px;
  height: 220px;
  /* outline: 1px solid green; */
}

.blog-new {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.blog-summary {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-right: 250px;
}

.blog-summary a {
  text-decoration: underline;
  color: #323232;
}

.subscribe-form {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  width: 560px;
  height: 220px;

  background-color: #f8f7f4;
  border: 5px solid white;
  border-radius: 15px;
  border-image: url("../img/bg-post.svg") 5 round round;
  margin-left: 25px;
  /* outline: 1px solid lime; */
}

.subscribe-form input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font: inherit;

  width: 370px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  outline: none;
}

.subscribe-form form {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.subscribe-form input:hover{
  border: 2px solid #c7c6c5;
}

.subscribe-form input:active {
  border: 2px solid #8fbdec;
}

.map {
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  color: #ffffff;
}


.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.main-footer {
  padding: 0;
  margin-top: 10px;
  background-color: #849d8f;
  display: flex;
  justify-content: space-between;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:active {
  color: #ffbc9e;
}

.footer-social {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  margin-left: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 185px;
  height: 40px;
  /* outline: 1px solid red; */
}

.footer-social li {
  width: 38px;
  height: 38px;
  /* outline: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 330px;
  min-height: 50px;
  /* outline: 1px solid fuchsia; */
  height: 60px;
  width: 330px;
}

.footer-legal ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* outline: 1px solid red; */
}

.footer-legal li {
  margin-left: 23px;

}

.footer-legal li:nth-child(2n) {
  margin-top: 5px;
}

.footer-legal a,
.copyright-footer p>a,
.catalog-item h3>a,
.site-navigation a {
  border-bottom: 1px solid #9db1a5;
}

.site-navigation a:hover,
.site-navigation a:active,
.site-navigation a:focus {
  border-bottom: none;
}

.footer-providers {
  font-weight: 700;
}

.copyright-footer {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  margin-right: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 60px;
  /* outline: 1px solid lime; */
}

.copyright-footer img {
}

.copyright-footer p{
  margin: 0;
  padding: 0;
}

.rwbutton {
   margin: 0;
   padding: 0;
   color: white;
   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   text-shadow: #c63d24 0 1px 3px;
   text-align: center;
   vertical-align: middle;
   padding: 10px 22px;

   background-color: #e84d37;
   border-radius: 20px;
   border: none;
   box-shadow: inset 0 10px 15px 0 #f37b5b, 0 1px 3px 0 #9e4334;
}


.rwbutton:hover,
.rwbutton:focus {
   text-shadow: #ce5b47 0 1px 3px;
   box-shadow: inset 0 30px 15px 0 #f58669, 0 1px 3px 0 #ac1000;
}

.rwbutton:active {
   text-shadow: #ce5b47 0 1px 3px;
   box-shadow: inset 0 1px 3px 0 #952718, inset 0 -5px 15px 0 #e1613e;
}


.modal-feedback {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;

  display: flex;
  flex-direction: row;
  width: 478px;
  height: 443px;
  margin: 0 auto;
  padding-left: 23px;
  border-radius: 9px;
  /* outline: 2px solid yellow; */

  position: relative;
}

.modal-feedback p{
  margin: 0;
  margin-top: 25px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback form {
  display: flex;
  flex-direction: column;
  width: 478px;
  height: 443px;
  /* outline: 1px solid red; */
}

.modal-feedback input {
  width: 265px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.modal-feedback input::placeholder {
  font-weight: 400;
}

.modal-feedback input:hover{
  border: 2px solid #c7c6c5;
}

.modal-feedback input:active {
  border: 2px solid #8fbdec;
}

.modal-feedback textarea {
  width: 370px;
  height: 153px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-right: 27px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.modal-feedback textarea::placeholder {
  font-weight: 400;
}

.modal-feedback textarea:hover{
  border: 2px solid #c7c6c5;
}

.modal-feedback textarea:active {
  border: 2px solid #8fbdec;
}


.modal-feedback input:first-child {
  margin-top: 25px;
}

.modal-feedback span {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal-feedback button {
  margin-right: 23px;
  margin-top: 25px;
  align-self: flex-end;

}


.inner-page {
  background-image: url('.../img/gllacy-catalog-full.jpg');
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;

}
