body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  color: #FFFFFF;

  background-color: #849d8f;
}

a {
    text-decoration: none;
  }

.visually-hidden {
  font-size: 0px;
}

.main-header {
  background-color: #849d8f;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #FFFFFF;

  background-color: #849d8f;
  list-style: none;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #FFFFFF;

  background-color: #849d8f;
}

.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
  color: #ffbc9e;
  background-color: #849d8f;
}

.catalog-item {
  color: #ffffff;
  background-color: #849d8f;
}

.breadcrumbs a,
.catalog-item a{
  color: #ffffff;
}

.catalog-item:hover,
.catalog-item:focus {
  color: #ffffff;
  background-color: #9bafa3;
  border-radius: 5px;
}

.catalog a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
}


.catalog a:hover,
.catalog a:focus {
  background-color: #fbded8;
  color:#323232;
}

.catalog a:active {
  background-color: #f6b5a5;
  color:#323232;
}

.catalog-new {
  background-color: #f8f7f4;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-new a {
  background-color: #f8f7f4;

  color: #323232;
  font-size: 14px;
  font-weight: 700;

}

.catalog-current a {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-current a:hover {
  color: #ffffff;
  background-color: #d07058;
}

.search-link {
  color: #ffffff;

  background-color: #a0b5a9;
  border-radius: 15px;
}

.login-link,
.empty-cart {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: #9db1a5;
  border-radius: 15px;
}

.search-link:hover,
.search-link:active,
.search-link:focus,
.login-link:hover,
.login-link:active,
.login-link:focus {
  background-color: #f8f7f4;
  color:#323232;
}

.search-form,
.login-form {
  background-color: #f8f7f4;
  color: #323232;
}

.search-form input,
.login-form input {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.search-form input::placeholder,
 .login-form input::placeholder{
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
}

.login-form a{
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
}

.empty-cart:hover,
.empty-cart:active,
.empty-cart:focus {
  background-color: #9db1a5;
  color: #ffffff;
  border-radius: 15px;
}

.shopping-cart {
  background-color: #f7f6f3;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 15px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;

}

.shopping-cart:hover,
.shopping-cart:focus,
.shopping-cart:active {
  background-color: #f7f6f3;
  color: #323232;
}

.cart-block {
  background-color: #f8f7f4;
  color: #323232;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart-block img {
  border-radius: 50%;
}

.cart-item a {
  color: #323232;
}

.cart-item-delete {
  background: none;
  border: none;
}
.cart-item-amount {

}

.cart-count-price {
  color: #999999;
}

.cart-item-total {
}

.cart-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  padding-top: 20px;
  border-top: 1px solid #808080;
}

.worktime {
  background-color: #849d8f;
  color: #ffffff;;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.telephone {
  background-color: #849d8f;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.telephone:hover,
.telephone:active{
  color: #ffbc9e;
}

.catalog li,
.footer-social li,
.footer-legal li,
.breadcrumbs li{
  list-style: none;
}

.menu-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700px;
  color: #ffffff;
}

.menu-button:hover {
  background-color: #f7f6f3;
  color: #323232;
  border-radius: 20px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-right: 15px;
  font-weight: 700;
}

.menu-button-current {
  background-color: #d07058;
  border-radius: 20px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-right: 15px;

  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.menu-button-current:hover {
  background-color: #d07058;
  color: #FFFFFF;
  border-radius: 20px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-top: 7px;
  padding-right: 15px;
  font-weight: 700;
}


.user-navigation {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;

  list-style: none;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.filters {
  font-size: 16px;
}

.filter-header{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/*.filter-options {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
} не работает*/

#price-min,
#price-max {
  font-size: 14px;
  color: white;
  border: none;
}

.filling-checkbox {
/*  color: #eef2f0;  этим цветом чекбоксы надо задать*/
}

.price-slider-line-back {
  width: 177px;
  height: 4px;
  background-color: #d1dad3;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fcfcfc;
  background-color: #a6b7ae;
  border-radius: 15px;
  border: 2px solid #fcfcfc;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #fbfcfb;
  color: #353535;
  border: none;
}

.filter-button:active {
  background-color: #eaeaea;
  box-shadow: inset 0 1px 3px 0 #6a6b6a;
}

.features {
  width: 90%;
  background-image: url("../img/wafer-background.jpg");
  background-position: 0 0;
  background-repeat: round;
  background-color: #ecdfc3;
  color: #323232;
  border-radius: 15px;
  margin-left: 27px;
}

.features-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  margin-left: 21px;
}

.features-list {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}


.announces {
  width: 90%;
}

.blog-container {
  color: #323232;

  width: 50%;
  min-width: 560px;
  background-color: white;
  border-radius: 15px;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 27px;
}

.blog-new {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 22px;
}

.blog-summary {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-left: 22px;
  padding-bottom: 90px;
}

.blog-summary a {
  text-decoration: underline;
  color: #323232;
}

.subscribe-form {
  width: 50%;
  min-width: 560px;
  height: auto;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;

  background-color: #f8f7f4;
  border: 5px solid white;
  border-radius: 15px;
  border-image: url("../img/bg-post.svg") 5 round round;
  margin-left: 27px;
  padding-left: 22px;
  padding-top: 12px;
}/*Ну, да, так картинка вот максимум как похоже*/

.subscribe-form input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font: inherit;

  width: 370px;
  margin-top: 20px;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  outline: none;
}


.subscribe-form input:hover{
  border: 2px solid #c7c6c5;
}

.subscribe-form input:active {
  border: 2px solid #8fbdec;
}


.rwbutton {
   color: white;
   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   text-shadow: #c63d24 0 1px 3px;
   text-align: center;
   vertical-align: middle;

   background-color: #e84d37;
   border-radius: 20px;
   border: none;
   box-shadow: inset 0 10px 15px 0 #f37b5b, 0 1px 3px 0 #9e4334;
}


.rwbutton:hover,
.rwbutton:focus {
   text-shadow: #ce5b47 0 1px 3px;
   box-shadow: inset 0 30px 15px 0 #f58669, 0 1px 3px 0 #ac1000;

}

.rwbutton:active {
   text-shadow: #ce5b47 0 1px 3px;
   box-shadow: inset 0 1px 3px 0 #952718, inset 0 -5px 15px 0 #e1613e;

}



.modal-feedback {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-feedback p{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback input {
  width: 370px;
  /*margin-top: 20px;
  margin-bottom: 35px;*/
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.modal-feedback input::placeholder {
  font-weight: 400;
}

.modal-feedback input:hover{
  border: 2px solid #c7c6c5;
}

.modal-feedback input:active {
  border: 2px solid #8fbdec;
}

.modal-feedback textarea {
  width: 370px;
  margin-top: 20px;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.modal-feedback textarea::placeholder {
  font-weight: 400;
}

.modal-feedback textarea:hover{
  border: 2px solid #c7c6c5;
}

.modal-feedback textarea:active {
  border: 2px solid #8fbdec;
}

.modal-feedback button {
  padding-left: 24px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 17px;
}

.modal-close{

}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-item-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:active {
  color: #ffbc9e;
}

.footer-legal {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.footer-legal a,
.copyright-footer p>a,
.catalog-item h3>a {
  border-bottom: 1px solid #9db1a5;
}

.footer-providers {
  font-weight: 700;
}

.copyright-footer {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
